
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A", "Poppins";
  }
  

  .login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: 0 0 10px rgba(112, 45, 129, 0.192);
  }

  .login-container img {
    width: 150px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* El alto se ajusta automáticamente para mantener la proporción original */
    margin: 10px 0;
    margin-left: 20px; /* Espacio superior e inferior para separar el logo de otros elementos */
  }
  

  .form-title {
    font-size: 24px; 
    margin-bottom: 15px; 
    text-align: center;
    font-weight: bold; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }
  

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px; 
    text-transform: uppercase;
  }
  

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    text-align: center;
  }
  

  button {
    //background: linear-gradient(90deg, #7167dd, #5448de);
    background: #007BFF ;
    width: 100%; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0; 
    font-size: 16px;
    transition: background-color 0.2s;
    font-weight: bold;
  }

  button:hover {
    background-color: #0056b3;
  }
  
  .forgot {
    text-align: right;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s; 
  }
  
  a:hover {
    color: #0056b3;
    transition: background-color 0.2s;
  }

  .icon {
    height: 1.25em;
    width: 1.25em;
    display: inline-block; 
    text-align: center;
    border-radius: 50%; 
  }
  
  .error {
    color: #ec1414;
    text-align: center;
  }
  