<body>

  <app-loading *ngIf="showLoading" class="centered-loading"></app-loading>

    <div class="login-container">
        <img src="assets/logo.png" alt="Logo de la Clínica">
        <h2>Iniciar sesión</h2>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  
          <div class="form-group">
            <label for="email">Nombre de usuario:</label>
            <input type="text" id="email" formControlName="email" placeholder="Email" required>
          </div>
  
          <div class="form-group">
            <label for="clave">Contraseña:</label>
            <input type="password" id="password" formControlName="password" placeholder="Contraseña" required>
          </div>
    
          <div class="button-container">
          <button type="submit">Iniciar sesión</button>
          <div class="AC-derecha">
            <button type="button" (click)="loginLoad('admin')" (click)="loginLoadAdmin()">Acceso rápido Admin</button>
            <button type="button" (click)="loginLoad('especialista1')" (click)="loginLoadEspecialista1()">Acceso rápido especial. 1</button>
            <button type="button" (click)="loginLoad('especialista2')" (click)="loginLoadEspecialista2()">Acceso rápido especial. 2</button>
            <button type="button" (click)="loginLoad('paciente1')" (click)="loginLoadPaciente1()">Acceso rápido paciente 1</button>
            <button type="button" (click)="loginLoad('paciente2')" (click)="loginLoadPaciente2()">Acceso rápido paciente 2</button>
            <button type="button" (click)="loginLoad('paciente3')" (click)="loginLoadPaciente3()">Acceso rápido paciente 3</button>
          </div>
        </div>
          <button type="button" (click)="onClickWel($event)">Volver a inicio</button>

          <div class="register">
            <p>No tenes una cuenta<span class="icon icon--info">?</span><a (click)="onRegister()" style="cursor: pointer;">Registrate !</a></p>        
          </div>
        </form>
  
        <div class="error">
            <p>{{ errorMensaje }}</p>
        </div>
    </div>
  </body>