
<body>
  
  <div class="user-container">

  <div class="user-profile" *ngIf="usuarioLogueado">
    
    <div class="user-info">
        <h2>{{ usuarioLogueado.nombre }} {{ usuarioLogueado.apellido }}</h2>
        <p>Edad: {{ usuarioLogueado.edad }}</p>
        <p>DNI: {{ usuarioLogueado.dni }}</p>
        <p>Mail: {{ usuarioLogueado.mail }}</p>

        <ng-container *ngIf="usuarioLogueado.role === 'admin'">
        <p>Imagen de perfil:</p>
        <img [src]="usuarioLogueado.imagenPerfil" alt="Imagen de perfil">
      </ng-container>
        
        <ng-container *ngIf="usuarioLogueado.role === 'paciente'">

        <p>Obra Social: {{ usuarioLogueado.obrasocial }}</p>

        <p>Imagen de perfil 1:</p>
        <img [src]="usuarioLogueado.imagenPerfil1" alt="Imagen de perfil1">

        <p>Imagen de perfil 2:</p>
        <img [src]="usuarioLogueado.imagenPerfil2" alt="Imagen de perfil2">
      </ng-container>
        
        <ng-container *ngIf="usuarioLogueado.role === 'especialista'">

          <p>Especialidad: {{ usuarioLogueado.especialidad === 'otra' ? usuarioLogueado.otraEspecialidad : usuarioLogueado.especialidad }}</p>

        <ng-container *ngIf="usuarioLogueado.especialidad.trim().length === 0">
          <p>Otra Especialidad: {{ usuarioLogueado.otraEspecialidad }}</p>
        </ng-container>

        <p>Imagen de perfil:</p>
        <img [src]="usuarioLogueado.imagenPerfil" alt="Imagen de perfil">
      </ng-container>
    </div>

  </div>

  <div class="user-profile" *ngIf="usuarioLogueado">
    <div class="user-actions">
      <ng-container *ngIf="usuarioLogueado.role === 'especialista'">
        <app-especialista-dispo></app-especialista-dispo>
      </ng-container>
    </div>
  </div>

</div>
</body>

<div class="center-button">
  <input type="button" [value]="btnVolver" class="btn-success" (click)="onClickHome($event)" />
</div>
