<form [formGroup]="disponibilidadForm" (ngSubmit)="guardarDisponibilidad()">

    <label for="especialidad">Especialidad:</label>
    <select id="especialidad" formControlName="especialidad">
        <option value="Ginecologia">Ginecologia</option>
        <option value="Traumatologia">Traumatologia</option>
        <option value="Kinesiologia">Kinesiologia</option>
        <option value="Nutricionista">Nutricionista</option>
    </select>

    <label for="dia">Día:</label>
    <select id="dia" formControlName="dia">
      <option value="Lunes">Lunes</option>
      <option value="Martes">Martes</option>
      <option value="Miercoles">Miércoles</option>
      <option value="Jueves">Jueves</option>
      <option value="Viernes">Viernes</option>

    </select>
  
    <label for="horaInicio">Hora de inicio:</label>
    <input type="time" id="horaInicio" formControlName="horaInicio" step="900" required>

    <label for="horaFin">Hora de fin:</label>
    <input type="time" id="horaFin" formControlName="horaFin" step="900" required>
  
    <button type="submit">Guardar Disponibilidad</button>
</form>

  <div class="centered-content">
    <div *ngIf="horariosDisponibles.length > 0" class="horarios-container">
      <h3>Horarios Disponibles</h3>
      <ul>
        <li *ngFor="let horario of horariosDisponibles">
            {{ horario.especialidad }} - {{ horario.dia }} - {{ horario.horaInicio }} a {{ horario.horaFin }}
        </li>
      </ul>
    </div>
  </div>