<!DOCTYPE html>
<html>
<head>
  <title></title>

</head>
<body>
    <app-loading *ngIf="showLoading" class="centered-loading"></app-loading>
  <div class="navbar-custom">
    <a class="user-color" (click)="toggleDropdown()" *ngIf="currentUser$ | async as user" >
      <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="Foto de perfil de usuario" class="user-photo">
      <img *ngIf="!user.photoURL" src="https://firebasestorage.googleapis.com/v0/b/tp-sala-de-juegos-diazgiossol.appspot.com/o/guest.webp?alt=media&token=69e91e4a-832d-4439-ab69-a30e2c8d80ee"  class="user-photo">
      {{ user.displayName?user.displayName : user.email }} 
    </a>
    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <button class="logout-button" *ngIf="showLogoutButton" (click)="logout()">
        <i class="fa solid fa-power-off"></i> Cerrar Sesión
      </button>
    </div>
  </div>

  <header>
    <h1></h1>
  </header>

  <nav>
    <ul>
    </ul>
  </nav>

  <main>
    <h2>Mis Turnos</h2>
  
    
    <div class="turnos-container">
      <div>
        <app-filtro (filtroAplicado)="filtrarTurnos($event)"></app-filtro>
        <ul>
          <li *ngFor="let turno of turnos">
            <div class="turno-item">
              <span>{{ turno.especialidad }} - {{ turno.especialista }}</span>
              <span class="fecha-turno">Fecha del turno: {{ turno.fecha }}</span> 
              
              <div class="button-container">
                <button *ngIf="!turno.realizado" (click)="cancelarTurno(turno)">Cancelar Turno</button>
                <button *ngIf="turno.comentario" (click)="verResena(turno)">Ver Reseña</button>
                <button *ngIf="turno.realizado && turno.comentario" (click)="completarEncuesta(turno)">Completar Encuesta</button>
                <button *ngIf="turno.realizado" (click)="calificarAtencion(turno)">Calificar Atención</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2023 Clinica Online. Todos los derechos reservados.</p>
    </div>
  </footer>

  <div class="center-button">
    <input type="button" [value]="btnVolver" class="btn-success" (click)="onClickHome($event)"/>
  </div>
  
</body>
</html>

