<!DOCTYPE html>
<html>
<head>
  <title></title>

</head>
<body>
  <app-loading *ngIf="showLoading" class="centered-loading"></app-loading>
  <header>
    <h1></h1>
  </header>

  <nav>
    <ul>
    </ul>
  </nav>

  <main>
    
    <h2></h2>
    <p>En breve va a poder sacar sus turnos online...</p>
        <img src="assets/turnos.png" alt="Logo" class="flipping-logo">
        <div class="center-button">
          <input type="button" [value]="btnVolver" class="btn-success" (click)="onClickHome($event)"/>
        </div>
  </main>


  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2023 Clinica Online. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>
</html>

