
<body>
  <form [formGroup]="solicitarTurnoForm" (ngSubmit)="guardarTurno()">
    
    <div class="centered-content">
      
      <label for="especialidad">Seleccione su especialidad:</label>
    <div class="especialidades-container">
      <button type="button" *ngFor="let esp of especialidades; let i = index" (click)="toggleEspecialidad(i)" (click)="onEspecialidadChange(esp)" (click)="onEspecialidadButtonClick(esp)" [class.selected]="esp === seleccionado">
        <img [src]="obtenerImagenEspecialidad(esp)" alt="{{ esp }}" class="especialidad-button">
      </button>
    </div>
    
    <ng-container *ngIf="especialidadSeleccionada">
     <label for="especialista">Seleccione un especialista:</label>

     <div class="especialistas-container">
      <button type="button" *ngFor="let especialista of especialistas" (click)="onEspecialidadButtonClick1(especialista)" [class.selected]="especialista === especialistaSeleccionado">
        <p>{{ especialista.nombre }}</p>
        <img [src]="especialista.imagenPerfil" alt="{{ especialista.imagenPerfil }}" class="especialidad-image">
        <img [src]="getSafeImageURL(especialista.imagenPerfil)" alt="{{ especialista.nombre }}"  class="especialidad-button1">
      </button>
    </div>
  </ng-container>
    <!-- <ng-container *ngIf="especialistaSeleccionado">

      <label for="date">Seleccione fecha y horario:</label>
      
      <div class="horarios-container">
        <button type="button" *ngFor="let fecha  of availableDates">
          <p>{{ fecha }} </p>
        </button>
      </div>
    
    </ng-container> -->

    <ng-container *ngIf="especialistaSeleccionado && horariosDisponibles.length > 0">
      <label for="date">Seleccione fecha y horario:</label>
      <div class="horarios-container">
        <button type="button" *ngFor="let hora of horariosDisponibles">
          <p>{{ hora }} </p>
        </button>
      </div>
    </ng-container>

    <button type="submit" class="btn-solicitar">Solicitar Turno</button>
  </div>
</form>
  
  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2023 Clinica Online. Todos los derechos reservados.</p>
    </div>
  </footer>
  
  <div class="center-button">
    <input type="button" [value]="btnVolver" class="btn-success" (click)="onClickHome($event)" />
  </div>
</body>
  