.login-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-title {
  font-size: 54px;
  margin-bottom: 5px;
  text-align: center;
}

.form-group {
  //margin: 10px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 36px;
  color: #007BFF;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
  display: block;
  width: 60%;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"],
select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button {
  background-color: #28A745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px; 
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #04d454;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

}

.btn-primary:hover {
  background-color: #0056b3;
}


.btn-success {
  background-color: #a72892;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #7f196e;
}
